.heading {
  font-size: 170px;
  color: #fffdf2;
  font-weight: 700;
}

.project {
  height: 450px;
  width: 500px;
  border-radius: 17px;
  background-color: #23201f;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: scale(1.03);
}

.projectImage {
  height: 380px;
  width: 500px;
}
