@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #efecda;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.work {
  background-color: #1e0000;
}
